body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    background-color: #e3ddf7;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e3ddf7;

}

/* Home section styles */
#home {
    background-color: #e3ddf7;
    text-align: center;
    padding: 2rem;
}

/* Courses section styles */
#courses {
    padding: 2rem;
    text-align: center;
}

.imgcss {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    background-color: #e3ddf7;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
	color: black;
	margin: 1rem;
    text-align: right;
    
}

#faq {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
}

.answer {
    margin-top: 5px;
}