body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    background-color: #e3ddf7;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e3ddf7;

}

/* Home section styles */
#home {
    background-color: #e3ddf7;
    text-align: center;
    padding: 2rem;
}

/* Courses section styles */
#courses {
    padding: 2rem;
    text-align: center;
}

.course {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* About section styles */
#about {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

/* Footer section styles */
footer {
    
    color: white;
    text-align: left;
    text-transform: capitalize;
    padding: 25px;

}

/* Form section styles */
form {
	width: 700px;
    text-align: justify;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
}
/* Hero image styles */
.imgcss {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    background-color: #e3ddf7;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
	color: black;
	margin: 1rem;
    text-align: right;
    
}

/* FAQ section styles */
#faq {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
}

.answer {
    margin-top: 5px;
}