body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    background-color: #e3ddf7;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e3ddf7;

}

/* Home section styles */
#home {
    background-color: #e3ddf7;
    text-align: center;
    padding: 2rem;
}

/* Courses section styles */
#courses {
    padding: 2rem;
    text-align: center;
}

.course {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* About section styles */
#about {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

/* Footer section styles */
footer {
    
    color: white;
    text-align: left;
    text-transform: capitalize;
    padding: 25px;

}

/* Form section styles */
form {
	width: 700px;
    text-align: justify;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
}
/* Hero image styles */
.imgcss {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    background-color: #e3ddf7;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

.navbar-alignment{
    float: right;
    padding-right: 20px
}
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

/* FAQ section styles */
#faq {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
}

.answer {
    margin-top: 5px;
}

/* Contact section styles */
#faqs {
    padding: 2rem;
    text-align: center;
}

#faqs a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}