/* FAQ home */
.faqs {
    text-align: center;
}

.faqs a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--dark-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.faqs a:hover {
    background-color: var(--secondary-color-dark);
}

.faq-section-home {
    padding-left: 150px;
    padding-right: 150px;
}

@media only screen and (max-width: 900px) {
    .faq-section-home {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .faq-section-home {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* FAQ styling starts */

.faq-section {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 900px) {
    .faq-section {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .faq-section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

details {
    margin-bottom: 20px;
}

details p {
    color: var(--dark-text-color);
    padding: 10px 10px 10px 10px;
    background-color: var(--background-color);
}


details summary {
    color: var(--dark-text-color);
    cursor: pointer;
    padding: 10px;
    background-color: var(--background-color);
}

details summary::before {
    content: "+";
    font-weight: 800;
    float: right;
    margin-left: 10px;
}

details[open] summary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

details[open] summary::before {
    content: "-";
    font-weight: 800;
}

/* FAQ styling ends */
