:root {
    --primary-color: #2a9d8f ;
    
    --secondary-color-dark: #f4a261;
    --secondary-color: #f4a361bb;

    --accent-color: #e9c46a;
    
    --hard-color: #e76f51;
    --dark-color: #264653;

    --background-color: #F2F0EB;
    --white-color: white;
    --black-color: black;

    --dark-text-color: #264653;

    --hero-text-background-color: rgba(255, 253, 250, 0.7);
  }

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--dark-text-color);
}

h2 {
    padding-bottom: 20px;
}

section {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/* Home section styles */
#home {
    background-color: var(--background-color);
    text-align: center;
    color: var(--dark-text-color);
}

#home p{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
    color: var(--dark-text-color);
}

/* Courses section styles */
#courses {
    text-align: center;
    color: var(--dark-text-color);
    padding-left: 30%;
    padding-right: 30%;
}

.course {
    background-color: var(--secondary-color);
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;

    border: 1px solid var(--white-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

.course h3 {
    font-size: 1.4em;
}

.course p {
    font-size: 1.2em;
}

.course:hover {
    background-color: var(--secondary-color-dark);
}

/* About section styles */
#about {
    color: var(--dark-text-color);
    background-color: var(--background-color);
    text-align: center;
}

#about p{
    color: var(--dark-text-color);
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
}

/* Media responsiveness for all ids*/

@media only screen and (max-width: 900px) {
    #home p{
        padding-left: 20px;
        padding-right: 20px;
    }
    #courses {
        padding-left: 20px;
        padding-right: 20px;
    }
    #about p{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Form section styles */
form {
    color: var(--dark-text-color);
	width: 700px;
    text-align: justify;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
}

/* Hero image styles starts*/

.hero-image-container {
    position: relative;
    text-align: center;
    z-index: -1000;
}

.hero-image-container img {
    min-height:250px;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image-text {
    background-color: var(--hero-text-background-color);
    position: absolute;
    top: 50%;
    padding-right: 30px;
    padding-left: 30px;
    right: 20px;
}

.hero-image-text h2 {
    color: var(--dark-text-color);
    font-size: 50px;
    font-family: cursive;
    background: none;
}

.hero-image-text p {
    color: var(--dark-text-color);
    font-size: 25px;
    background: none;
    font-family: cursive;
    padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .hero-image-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    
    .hero-image-text h2 {
        font-size: 30px;
    }
    
    .hero-image-text p {
        font-size: 15px;
    }
  }

/* Hero image styles ends */


header {
    color: var(--white-color);
    padding: 27px;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-alignment{
    float: right;
    padding-right: 20px
}
  
.navbar a {
    float: left;
    display: block;
    color: var(--white-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: var(--secondary-color-dark);
    color: var(--white-color);
}

/* Footer section start */

footer {
    padding: 20px 0;
    background-color: var(--background-color);
    color: var(--secondary-color-dark);
}

footer hr {
    opacity: 80%;
    width: 90%;
    margin-bottom: 40px;
}

footer ul {
    color: inherit;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
footer ul a {
    color: inherit;
    margin-right: 5px;
    text-decoration:none;
    opacity:0.8;
  }

footer .ion-icon-social {
    text-align:center;
}

footer .ion-icon-social > a {
    font-size:24px;
    opacity:0.8;
    width:40px;
    margin:0 8px;
    display:inline-block;
    border-radius:50%;
    border:1px solid var(--secondary-color);
}

footer .ion-icon-social a i {
    color: var(--secondary-color-dark);
}

footer ul a {
    color: var(--secondary-color-dark);
}

footer .copyright-text {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: var(--dark-color);
    margin-bottom:0;
}

/* Footer section end */

.page-title {
    color: var(--dark-text-color);
    padding: 20px 150px 20px 150px;
    font-style: italic;
}

@media only screen and (max-width: 900px) {
    .page-title {
        padding: 20px 100px 20px 100px;
    }
}

@media only screen and (max-width: 768px) {
    .page-title {
        padding: 20px 20px 20px 20px;
    }
}

/* FAQ home */
.faqs {
    text-align: center;
}

.faqs a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--dark-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.faqs a:hover {
    background-color: var(--secondary-color-dark);
}

.faq-section-home {
    padding-left: 150px;
    padding-right: 150px;
}

@media only screen and (max-width: 900px) {
    .faq-section-home {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .faq-section-home {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* FAQ styling starts */

.faq-section {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 900px) {
    .faq-section {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .faq-section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

details {
    margin-bottom: 20px;
}

details p {
    color: var(--dark-text-color);
    padding: 10px 10px 10px 10px;
    background-color: var(--background-color);
}


details summary {
    color: var(--dark-text-color);
    cursor: pointer;
    padding: 10px;
    background-color: var(--background-color);
}

details summary::before {
    content: "+";
    font-weight: 800;
    float: right;
    margin-left: 10px;
}

details[open] summary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

details[open] summary::before {
    content: "-";
    font-weight: 800;
}

/* FAQ styling ends */

/* Contact Us Form section started */

.form {
    color: var(--dark-text-color);
    padding: 0px 150px 60px 150px;
    width: auto;
    margin-bottom: 40px;
}

.form .form-info{
    width: 40%;
    float: left;
}

.form form {
    float: right;
    width: 40%;
}

.form-info img {
    width: 100%;
}

.form .button {
    padding: 10px 20px 10px 20px;
    margin-bottom: 60px;
    background-color: var(--dark-color);
    color: var(--white-color);
    margin-top: 20px;
    border: 1px solid var(--white-color);
    border-radius: 5px;
    font-size: 20px;
    float: right;
}

.form .button:hover {
    background-color: var(--secondary-color-dark);
}

@media only screen and (max-width: 900px) {
    .form {
        padding: 0px 100px 60px 100px;
    }

    .form .form-info{
        width: 45%;
        float: left;
    }

    .form form {
        float: right;
        width: 45%;
    }
}
.form form fieldset {
    width: 100%;
}

.form form fieldset input {
    width: 93%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.form form fieldset textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .form {
        padding: 0px 20px 60px 20px;
    }

    form .form-info{
        width: 100%;
        float: left;
    }

    .form form {
        float: right;
        width: 100%;
        padding-right: 20px;
    }
}

/* Contact Us Form section ends*/

/* Professionals page styling starts */

.teacher {
    padding: 0px 150px 0px 150px;
    width: auto;
}

.teacher img {
    width: 200px;
}

/* Professionals page styling ends */