body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Home section styles */
#home {
    text-align: center;
    padding: 2rem;
}

/* Courses section styles */
#courses {
    padding: 2rem;
    text-align: center;
}

.course {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* About section styles */
#about {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

/* Form section styles */
form {
	width: 700px;
    text-align: justify;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
}

/* Hero image styles starts*/

.hero-image-container {
    position: relative;
    text-align: center;
    z-index: -1000;
}

.hero-image-container img {
    min-height:250px;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image-text {
    background-color: rgba(248, 248, 255, 0.7);
    position: absolute;
    top: 50%;
    padding-right: 30px;
    padding-left: 30px;
    right: 20px;
}

.hero-image-text h2 {
    font-size: 50px;
    font-family: cursive;
    background: none;
    color: black;
}

.hero-image-text p {
    font-size: 25px;
    background: none;
    font-family: cursive;
    color: black;
}

@media only screen and (max-width: 768px) {
    .hero-image-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    
    .hero-image-text h2 {
        font-size: 30px;
    }
    
    .hero-image-text p {
        font-size: 15px;
    }
  }

/* Hero image styles ends */


header {
    color: #fff;
    padding: 28px;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-alignment{
    float: right;
    padding-right: 20px
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* FAQ section styles */
#faq {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
}

.answer {
    margin-top: 5px;
}

/* Contact section styles */
#faqs {
    padding: 2rem;
    text-align: center;
}

#faqs a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}



/* Footer section start */

footer {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}

footer hr {
    opacity: 80%;
    width: 90%;
    margin-bottom: 40px;
}

footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
footer ul a {
    color:inherit;
    margin-right: 5px;
    text-decoration:none;
    opacity:0.8;
  }

footer .ion-icon-social {
    text-align:center;
}

footer .ion-icon-social > a {
    font-size:24px;
    opacity:0.8;
    width:40px;
    margin:0 8px;
    display:inline-block;
    border-radius:50%;
    border:1px solid #ccc;
}

footer .copyright-text {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

/* Footer section end */

.page-title {
    padding: 20px 20px 20px 20px;
    font-style: italic;
}

/* FAQ styling starts */

.faq-section {
    padding-left: 20px;
    padding-right: 20px;
}

details {
    margin-bottom: 20px;
}

details p {
    padding: 10px 10px 10px 10px;
    background-color: rgba(240, 240, 240, 0.589);
}


details summary {
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
}

details summary::before {
    content: "+";
    font-weight: 800;
    float: right;
    margin-left: 10px;
}

details[open] summary {
    background-color: #cacaca;
}

details[open] summary::before {
    content: "-";
    font-weight: 800;
}


/* FAQ styling ends */